# Node.js
node_modules/
npm-debug.log
.env

# Директории сборки
dist/
build/

# Прочие файлы
.info

# Логи
logs/
*.log

# Операционные системы
.DS_Store
Thumbs.db

# IDE и редакторы
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
