:root {
  --color-dark: #04405c;
  --color-dark-alt: #01334d;
  --color-light: #f1faee;
  --color-accent: #19526e;

  --shadow-base: 0 12px 38px 0 rgba(0, 0, 0, 0.05);

  --font-family-base: 'ProximaNova', 'Roboto', sans-serif;

  --container-width: 1200px;
  --container-padding-x: 20px;
  --section-padding-y: 40px;
  --input-height: 52px;
  --button-height: 52px;

  --transition-duration: 1s;
}
